// Fonts
@font-face {
    font-family: bulleto_killa_font;
    src: url(../fonts/bulletto/Bulletto_Killa.ttf);
}

@font-face {
    font-family: noir_bold;
    src: url(../fonts/noir_pro/NoirPro-Bold.otf);
}

@font-face {
    font-family: noir_heavy;
    src: url(../fonts/noir_pro/NoirPro-Heavy.otf);
}

@font-face {
    font-family: noir_light;
    src: url(../fonts/noir_pro/NoirPro-Light.otf);
}

@font-face {
    font-family: noir_medium;
    src: url(../fonts/noir_pro/NoirPro-Medium.otf);
}

@font-face {
    font-family: noir_regular;
    src: url(../fonts/noir_pro/NoirPro-Regular.otf);
}

@font-face {
    font-family: noir_semi_bold;
    src: url(../fonts/noir_pro/NoirPro-SemiBold.otf);
}

@font-face {
    font-family: nunito_variable;
    src: url(../fonts/nunito/nunito.ttf);
}


@font-face {
    font-family: roboto_regular;
    src: url(../fonts/roboto/roboto-regular.ttf);
}

// Animation

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@mixin animate($name, $duration, $type, $loop){
    animation: $name $duration $type $loop;
}

// Convert px to rem

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit(16px)}rem;
}

// Media query
@mixin bp($point) {
    @if $point == escritorio {
        @media (min-width: 1600px) { @content; }
    }
    @else if $point == laptop {
        @media (min-width: 1100px) { @content; }
    }
    @else if $point == tablet {
        @media (min-width: 700px)  { @content; }
    }
}


// Colors

$color_principal: #272D38;
$color_segundo: #FFF;
$color_tercero: #80BA3F;
$color_cuarto: #262429;
$color_cinco: #119146;
$color_seis: #EE9C19;
$color_siete: #152787;
$color_ocho: #FAA819;
$color_nueve: #E11E79;
$color_diez: #762B8F;
$color_once: #EC1D31;
$color_doce: #191F33;
$color_trece: #767E94;
$color_catorce: #32325D;
$color-quince: #000;
$color-dieciseis: rgba(60, 60, 67, 0.85);
$color_aspas: #762b8f;
$color_entrevistas: #020202;
$color_abeja_colores: #152786;
$color_form: #E0DBDB;
$color_form_focused: rgb(150, 150, 150);
$color_border_menu: #E1E2E3;
$color_box_noticias_one: #E9EAF0;
$color_box_noticias_two: #FFFFFF;
$color_bottom_noticias: #F6F4F4;
$color_input: #FAFAFA;

// Variables Fonts

$font_primero: bulleto_killa_font;
$font_segundo: noir_bold;
$font_tercero: noir_heavy;
$font_cuarto: noir_light;
$font_cinco: noir_medium;
$font_seis: noir_regular;
$font_siete: noir_semi_bold;
$font_ocho: nunito_variable;
$font_nueve: roboto_regular;