@import './variable';
@import './components/header';
@import './components/footer';
@import './components/home/banner';
@import './components/home/about';
@import './components/home/que_buscamos';
@import './components/home/constribuir';
@import './components/home/apicultura';
@import './components/home/mapa';
@import './components/home/noticias';
@import './components/home/preguntas_frescuentes';
@import './components/home/entrevistas';
@import './components/home/contacto';
@import './components/home/soy_apicultor';

body{
    overflow-x: clip;
    width: 100vw;
}

html{
    overflow-x: clip;
}