header{

    img{
        height: 100%;
        width: auto;
    }

    .icon_menu{
        svg{
            fill: $color_principal;
        }
    }

}

.MuiButtonBase-root{
    border-bottom: 1px solid $color_border_menu;
}

.menu_item{

    span{
        font-family: $font_nueve;
        font-size: rem(15px);
        color: $color_principal;
        text-transform: uppercase;
    }
}