.apicultura_section{

    @include bp(tabletMD){
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 0px 100px;
        position: relative;
        padding-top: 100px;
    }

    .content_image{

        padding: 0px 20px;
        padding-top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        
        @include bp(tabletMD){
            grid-area:  1 / 2;
            position: initial;
            display: flex;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &::after{
            content: "";
            width: 100%;
            height: 30%;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: -2px;
            right: 0px;
            z-index: 0;
            background-image: url('../../../img/punta_verde.svg');
            background-position: right;

            @include bp(tabletMD){
                z-index: 0;
                top: calc(-30% + 100px);
                background-color: $color_segundo;
            }

        }

        &::before{
            content: "";
            position: absolute;
            top: calc(30% - 5px);
            left: 0%;
            width: 100%;
            height: calc(70% + 10px);
            background-color: $color_tercero;
            border-top-left-radius: 50px;
            z-index: -1;

            @include bp(tabletMD){
                z-index: -1;
                top: calc(-0% + 100px);
                height: 100%;
                border-top-left-radius: 100px;
            }

        }

        .image{
            width: 60vw;
            height: 60vw;
            overflow: hidden;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            border-top-right-radius: 50%;
            border: 3px solid white;

            @include bp(tabletMD){
                width: calc(50vw - 200px);
                height: calc(50vw - 200px);
                background-color: red;
            }


            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
                pointer-events: none;
            }
        }

    }

    .content{
        @include bp(tabletMD){
            margin-top: 20px;
        }
    }

    .content_title{

        background-color: $color_tercero;
        padding: 30px 20px;

        @include bp(tabletMD){
            background-color: transparent;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        h2{
            text-align: center;
            font-family: $font_primero;
            font-size: rem(30px);
            color: $color_segundo;
            letter-spacing: 4px;
            margin: 0px;

            @include bp(tabletMD){
                font-size: rem(27px);
            }
    
            @include bp(laptop){
                font-size: rem(40px);
            }

        }

        p{
            text-align: center;
            font-size: rem(14px);
            font-family: $font_cuarto;
            color: $color_segundo;
            margin: 0px;
            margin-bottom: 15px;

            &:last-of-type{
                margin-bottom: 0px;
            }

            @include bp(tabletMD){
                font-size: rem(15px);
                text-align: left;
            }
    
            @include bp(laptop){
                font-size: rem(20px);
            }

        }
    
        strong{
            font-family: $font_siete;
        }


    }

}