.bannerHome{


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0px 20px;
    position: relative;

    .circle{

        width: 55vw;
        height: 55vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        rotate: 40deg;
        border: 1px dashed $color_segundo;


        h1{
            font-size: rem(35px);
            line-height: 35px;
            text-align: center;
            rotate: -40deg;
            color: $color_segundo;
            font-family: $font_primero;
            letter-spacing: 4px;
        }
    }

    .content_absolute{
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        
        p{
            text-align: center;
            font-family: $font_cuarto;
            line-height: 20px;
            color: $color_cuarto;
            margin-bottom: 20px;
            font-size: rem(14px);
        }

        .group{
            display: flex;
            justify-content: space-around;
            width: 100%;

            a{
                background-color: $color_tercero;
                padding: 8px 25px;
                border-radius: 20px;
                text-decoration: none;
                font-family: $font_cinco;
                text-transform: uppercase;
                font-size: rem(14px);
                color: $color_segundo;

                &:last-of-type{
                    background-color: $color_cinco;
                }
            }

        }

    }

}