.contacto_seccion{


    padding: 0px 20px;
    position: relative;
    padding-top: 10px;

    &::after{
        content: "";
        width: 100%;
        height: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -2px;
        left: 0px;
        background-image: url(../../../img/punta_morada_v2.png);
        z-index: -2;
        transform: rotateX(180deg) rotateY(180deg);
    }

    .box{
        width: 95%;
        background-color: $color_segundo;
        margin-top: 20px;
        margin: auto;
        padding: 20px 20px;
        border-radius: 20px;
        border: 1px solid $color_box_noticias_one;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }

    h2{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: rem(30px);
        font-family: $font_segundo;
        color: $color_cinco;
        line-height: 34px;

    }

    .form_item{

        display: flex;
        flex-flow: column;
        row-gap: 15px;

        section{

            label{
                margin-bottom: 10px;
                display: block;
                color: $color_entrevistas;
                font-size: rem(13px);
                font-family: $font_siete;
            }

            input{
                font-size: rem(13px);
                font-family: $font_cuarto;   
            }

            div{
                width: 100%;
                border-radius: 10px;
                font-size: rem(13px);
                font-family: $font_cuarto;   
                background-color: $color_input;
            }

            .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
                border: 1px solid $color_form;
                transition: .2s ease;
                padding: 0px;
                box-shadow: none;
            }

            .Mui-focused{
                .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
                    border: 2px solid $color_form_focused;
                }
            }

        }

        button{
            width: 40%;
            margin: auto;
            margin-top: 10px;
            padding: 10px 5px;
            font-size: rem(13px);
            font-family: $font_siete;
            background-color: $color_cinco;
            border: none;
            border-radius: 25px;
            color: $color_segundo;
        }

    }


}

.MuiButtonBase-root{
    font-size: rem(13px);
    font-family: $font_cuarto;  
}