.mapa_section{

    padding: 0px 20px;
    position: relative;

    @include bp(tabletMD){
        padding: 0px 100px;
    }

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        left: 0px;
        height: 30%;
        background-color: $color_tercero;
        z-index: -1;
        top: -5px;
        border-bottom-right-radius: 50px;

        @include bp(tabletMD){
            height: 20%;
            border-bottom-right-radius: 100px;
        }
    

    }

    &::after{

        content: "";
        width: 100%;
        height: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: calc(30% - 10px);
        left: 0px;
        z-index: 0;
        background-image: url('../../../img/punta_verde.svg');
        background-position: right;
        transform: rotateY(180deg) rotateX(180deg);
        z-index: -1;

        @include bp(tabletMD){
            top: calc(20% - 10px);
            height: 30%;
        }

    }

    .mapa_image{
        display: flex;
        justify-content: center;

        @include bp(tabletMD){
            justify-content: flex-end;
        }

        svg{
            width: 100%;
            height: 100%;

            @include bp(tabletMD){
                width: 70%;
            }

        }

    }

    .mapa_content{

        position: relative;
        width: 75vw;
        margin-left: 15vw;
        height: 75vw;

        @include bp(tabletMD){
            width: 30vw;
            height: 30vw;
            position: absolute;
            top: 45%;
            left: calc(100px + 10vw);
            margin-left: 0vw;
        }


        .image{
            position: absolute;
            height: 20vw;
            width: 20vw;
            background-color: $color_siete;
            border-radius: 50%;
            top: -14vw;
            left: -14vw;
            display: flex;
            justify-content: center;
            align-items: center;
            
            @include bp(tabletMD){
                width: 10vw;
                height: 10vw;
                top: -7.5vw;
                left: -7.5vw;
            }

            img{
                width: 70%;
                height: 70%;
                user-select: none;
                pointer-events: none;
            }

        }

        .content{
            background-color: $color_siete;
            padding: 0px 40px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            word-wrap: break-word;
            overflow: auto;
            font-size: rem(14px);
            color: $color_segundo;


            p{
                margin: 0px;
                font-family: $font_cuarto;

                @include bp(tabletMD){
                    font-size: rem(15px);
                    text-align: left;
                }
        
                @include bp(laptop){
                    font-size: rem(20px);
                }

            }

            strong{
                font-family: $font_siete;
            }

        }

    }

}