.preguntas_frecuentes_seccion{

    padding: 0px 20px;

    @include bp(tabletMD){
        padding: 0px 100px;
        max-width: 1200px;
        margin: auto;
    }

    .image_abeja{

        display: flex;
        justify-content: center;

        img{
            width: rem(45.998px);
            height: auto;

            @include bp(tabletMD){
                width: rem(120px);
                margin-top: 70px;
                margin-bottom: 70px;
            }

        }

    }

    h2{
        text-align: center;
        font-family: $font_primero;
        font-size: rem(30px);
        color: $color_nueve;
        letter-spacing: 4px;
        margin-top: 30px;
        margin-bottom: 20px;

        @include bp(tabletMD){
            font-size: rem(27px);
            line-height: 45px;
            margin-bottom: 30px;
        }

        @include bp(laptop){
            font-size: rem(40px);
        }

    }

    .accordeon{

        border: 1px solid $color_box_noticias_one;
        padding: 10px 25px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

        @include bp(tabletMD){
            border-top-right-radius: 70px;
            border-bottom-left-radius: 70px;
        }

        .MuiButtonBase-root{
            border: none;
        }


        .item-acordeon{

            margin: 15px 0px;
            box-shadow: none !important;
            border-bottom: 1px solid $color_box_noticias_one;
            padding-bottom: 15px;

            div{
                padding: 0px;
                margin: 0px;
                box-shadow: none !important;

                h3{
                    margin: 0px;
                    color: $color-quince;
                    font-size: rem(14px);
                    font-family: $font_cinco;
                    transition: .2s ease;

                    @include bp(tabletMD){
                        font-size: rem(20px);
                    }

                }

                path{
                    fill: $color-quince;
                    transition: .2s ease;
                }

                p{
                    font-size: rem(14px);
                    font-family: $font_cuarto;
                    line-height: 140%;
                    color: $color-dieciseis;
                    margin: 0px;

                    @include bp(tabletMD){
                        font-size: rem(20px);
                    }
                    
                }

            }

            .Mui-expanded{
                h3{
                    color: $color_siete;
                }

                path{
                    fill: $color_siete;
                }
            }

        }

    }

}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before,
.css-67l5gl:before
{
    display: none !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded:first-of-type,
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none;
}