.soy_apicultor_component{
    padding: 30px 20px 0px 20px;

    @include bp(tabletMD){
        padding: 0px 100px;
    }

    .image_abeja{

        display: flex;
        justify-content: center;

        img{
            width: rem(45.998px);
            height: auto;

            @include bp(tabletMD){
                width: rem(120px);
            }

        }

    }

    h2{
        text-align: center;
        font-family: $font_primero;
        font-size: rem(30px);
        color: $color_ocho;
        letter-spacing: 0px;
        margin-top: 30px;
        margin-bottom: 20px;

        @include bp(tabletMD){
            font-size: rem(27px);
            text-align: left;
            margin-top: 0px;
        }

        @include bp(laptop){
            font-size: rem(40px);
        }

    }

    .content{

        display: flex;
        flex-flow: column;
        align-items: center;

        @include bp(tabletMD){
            display: grid;
            grid-template-columns: repeat(2, calc(50% - 30px));
            margin-top: 100px;
            grid-gap: 60px;
        }


        p{
            color: $color_cuarto;
            font-family: $font_cuarto;
            font-size: rem(14px);
            text-align: center;
            margin-bottom: 0px;

            @include bp(tabletMD){
                font-size: rem(15px);
                text-align: left;
                margin-bottom:30px;
            }
    
            @include bp(laptop){
                font-size: rem(20px);
            }


        }
    
        .descarga{
            background-color: $color_cinco;
            margin: auto;
            padding: 10px 15px;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 10px;
            text-decoration: none;
            color: $color_segundo;
            font-family: $font_siete;
            margin: 20px 0px;

            @include bp(tabletMD){
                width: 250px;

                // Esto es porque escritorio no lo tiene

                display: none;

            }

            img{
                height: auto;
                width: rem(20px);
            }

        }

        h3{
            margin: 0px;
            font-family: $font_segundo;
            font-size: rem(15px);

            @include bp(tabletMD){
                font-size: rem(15px);
                text-align: center;
            }
    
            @include bp(laptop){
                font-size: rem(20px);
            }


        }


        .application{

            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            column-gap: 20px;

            @include bp(tabletMD){
                flex-flow: column;
            }


            a{

                width: 100%;
                display: flex;

                @include bp(tabletMD){
                    width: 300px;
                    margin-bottom: 25px;
                }
            
                img{
                    width: 100%;
                    height: auto;
                }
            }
            
        }

        .contact_icons{

            display: flex;
            justify-content: center;
            margin-top: 20px;

            @include bp(tabletMD){
                display: none;
            }

            a{
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                width: rem(59px);
                height: rem(59px);  

                &:first-of-type{
                    background-color:$color_siete;
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    border-top-right-radius: 50%;
                }

                &:last-of-type{
                    background-color: $color_cinco;
                    border-top-left-radius: 50%;
                    border-bottom-right-radius: 50%;
                    border-top-right-radius: 50%;
                }

                img{
                    width: 80%;
                    height: auto;
                }

            }

        }


    }

}